{% load i18n %}
<h3>{% trans "Summary" %}</h3>
<table>
    <thead>
	<tr>
		<th>{% trans "Total Calls" %}</th>
		<th>{% trans "Total Time" %}</th>
		<th>{% trans "Cache Hits" %}</th>
		<th>{% trans "Cache Misses" %}</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	    <td> {{ cache_total_calls }} </td>
	    <td> {{ cache_time }} ms </td>
	    <td> {{ cache_hits }} </td>
	    <td> {{ cache_misses }}</td>
	</tr>
	</tbody>	
</table>
<h3>{% trans "Stats by command" %}</h3>
<table>
    {% for key, value in cache_stats.iteritems %}
    <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
        <td> {{ key }} </td>
        <td> {{ value }} </td>	        
    </tr>
    {% endfor %}
</table>
{% if cache_calls %}
<h3>{% trans "Queries" %}</h3>
<table>
	<thead>
		<tr>
			<th>{% trans "Time" %}&nbsp;(ms)</th>
			<th>{% trans "Type" %}</th>
			<th>{% trans 'Stacktrace' %}</th>
			<th>{% trans "Parameters" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for query in cache_calls %}
			<tr class="{% cycle 'row1' 'row2' %}">
				<td>{{ query.time|floatformat:"4" }}</td>
				<td>{{ query.name|escape }}</td>
				<td style="width: 10em;">
					<div class="djCacheShowStacktraceDiv"><a class="djCacheShowStacktrace" href="#">Toggle Stacktrace</a></div>
				</td>
				<td>{{ query.args|escape }}
				{% with query.trace as stacktrace %}
				<div class="djCacheHideStacktraceDiv" style="display: none;">
					<table>
						<tr>
							<th>{% trans "Line" %}</th>
							<th>{% trans "Method" %}</th>
							<th>{% trans "File" %}</th>
						</tr>
						{% for file, line, method in stacktrace %}
							<tr>
								<td>{{ line }}</td>
								<td><code>{{ method|escape }}</code></td>
								<td><code>{{ file|escape }}</code></td>
							</tr>
						{% endfor %}
					</table>
				</div>
				{% endwith %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
